.element__like {
  width: 22px;
  height: 19px;
  border: none;
  background-image: url(../../../images/heart.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .2s linear;
  background-size: 22px 19px;
}

  .element__like:hover {
    opacity: .6;
}




