.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  justify-content: space-between;
  margin: 0 auto 51px;
}

@media screen and (max-width: 1022px) {
  .profile {
    max-width: 580px;
  }
}

@media screen and (max-width: 760px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
    min-width: 282px;
  }
}


