.profile__profession {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 568px) {
  .profile__profession {
    font-size: 14px;
    max-width: 282px;
    text-align: center;
  }
}
