.profile__edit {
  border: 1px solid #fff;
  background-color: #000;
  background-image: url(../../../images/pencil.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  width: 24px;
  align-self: end;
}

.profile__edit:hover {
  opacity: 0.6;
  transition: .4s;
}

@media screen and (max-width: 568px) {
  .profile__edit {
    height: 18px;
    width: 18px;
  }
}
