.profile__edit {
  height: 24px;
  width: 24px;
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  padding: 0;
  border-color:  white;
  border-style:  solid;
  border-width: 1px;
  background-position: center;
  align-self: center;
  transition: .4s;
  margin-left: 18px;
  background-size: 10px 10px;
  box-sizing: border-box;
  background-color: black;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 568px) {
  .profile__edit {
    height: 18px;
    width: 18px;
    background-size: 7,5px 7,5px;
    margin-left: 10px;
  }
}
