.header__logo {
  align-self: flex-start;
  margin-bottom: 41px;
  width: 142px;
  height: 33px;
  }

  @media screen and (max-width: 968px) {
    .header__logo {
      margin-left: 44px;
    }
  }

  @media screen and (max-width: 550px) {
    .header__logo {
      margin-left: 27px;
      margin-bottom: 31px;
      width: 103px;
      height: 24px;
    }
  }
