.profile__panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  max-width: 336px;
}

@media screen and (max-width: 566px) {
  .profile__panel {
    margin-bottom: 62px;
    max-width: 282px;
  }
}
