.profile__add-button {
  max-width: 150px;
  max-height: 50px;
  border: 2px solid #fff;
  background-color: #000;
  background-image: url(../../../images/plus.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  border-radius: 2px;
  align-items: center;
}

.profile__add-button:hover {
  opacity: 0.7;
  transition: .1s;
}

