.elements {
max-width: 880px;
display: grid;
grid-template-columns: repeat(auto-fill, 282px);
justify-content: center;
margin: 0 auto;
padding: 0 0 67px;
grid-gap: 20px 16px;
}

@media screen and (max-width: 760px) {
  .elements {
    padding-bottom: 48px;
  }
}


