.popup__box {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 430px;
  min-height: 330px;
}

@media screen and (max-width: 568px) {
  .popup__box {
    margin-right: 19px;
    margin-left: 19px;
    min-height: 323px;
    min-width: 283px;
  }
}
