.footer {
  max-width: 880px;
  max-height: 18px;
  margin: 0 auto;
}

@media screen and (max-width: 966px) {
  .footer {
    margin-top: 28px;
    margin-bottom: 38px;
    max-height: 55px;
    max-width: 100%;
  }
}
